In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
import datetime
print(datetime.datetime.now())

2019-10-25 01:14:05.206979

In [3]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten, LSTM, TimeDistributed, RepeatVector
from keras.layers.normalization import BatchNormalization
from keras.optimizers import Adam
from keras.callbacks import EarlyStopping, ModelCheckpoint

Using TensorFlow backend.

# Remove alll nan items and lower case the labels

In [6]:
D_ITEMS_df = pd.read_csv('D_ITEMS.csv')
print(D_ITEMS_df.shape)
D_ITEMS_df.head()

(12487, 10)

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
0,457,497,Patient controlled analgesia (PCA) [Inject],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,458,498,PCA Lockout (Min),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,459,499,PCA Medication,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3,460,500,PCA Total Dose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4,461,501,PCV Exh Vt (Obser),NaN,carevue,chartevents,NaN,NaN,NaN,NaN

In [8]:
D_ITEMS_df = D_ITEMS_df.dropna(subset=['LABEL'])
D_ITEMS_df['LABEL'] = D_ITEMS_df['LABEL'].str.lower()
D_ITEMS_df.head()

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
0,457,497,patient controlled analgesia (pca) [inject],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,458,498,pca lockout (min),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,459,499,pca medication,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3,460,500,pca total dose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4,461,501,pcv exh vt (obser),NaN,carevue,chartevents,NaN,NaN,NaN,NaN

# ICU Medications ITEMID

In [39]:
icu_medication = []
temp = D_ITEMS_df[D_ITEMS_df['LABEL'].str.contains('levophed')]
icu_medication = list(temp['ITEMID'])
temp

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
5794,5367,30047,levophed,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5839,5414,30120,levophed-k,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN

In [55]:
D_ITEMS_df[D_ITEMS_df['LABEL'].str.contains('adenosine')]

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
1068,1569,4649,adenosine,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
8878,12959,221282,adenosine,Adenosine,metavision,inputevents_mv,Medications,mg,Solution,NaN

In [40]:
temp = D_ITEMS_df[D_ITEMS_df['LABEL'].str.contains('vasopressin')]
icu_medication.extend(temp['ITEMID'])
temp

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
124,1276,1136,vasopressin,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1185,1314,1222,vasopressin,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1212,1341,1327,vasopressin unit/min,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3079,3448,2248,vasopressin unit/min,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3116,3485,2334,vasopressin u/hr,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3188,3557,2445,vasopressin,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3269,3638,2561,vasopressin u/hr,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3403,3772,2765,vasopressin unit/r,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4081,4081,6255,vasopressin 0.04 s,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4337,4614,7341,vasopressin u/hr,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
5797,5370,30051,vasopressin,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
6515,7491,42273,vasopressin unit/min,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
6652,7874,42802,vasopressin cc/hr.,NaN,carevue,inputevents_cv,Free Form Intake,NaN,NaN,NaN
9566,12997,222315,vasopressin,Vasopressin,metavision,inputevents_mv,Medications,units,Solution,NaN

In [42]:
temp = D_ITEMS_df[D_ITEMS_df['LABEL'].str.contains('epinephrine')]
icu_medication.extend(list(temp['ITEMID']))
temp

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
1613,794,3112,epinephrine mcg/min,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4442,5133,30119,epinephrine-k,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5683,5227,30309,epinephrine drip,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
5792,5365,30044,epinephrine,NaN,carevue,inputevents_cv,NaN,NaN,NaN,NaN
8879,12960,221289,epinephrine,Epinephrine,metavision,inputevents_mv,Medications,mg,Solution,NaN
9553,12984,221906,norepinephrine,Norepinephrine,metavision,inputevents_mv,Medications,mg,Solution,NaN

In [43]:
icu_medication

[30047,
 30120,
 1136,
 1222,
 1327,
 2248,
 2334,
 2445,
 2561,
 2765,
 6255,
 7341,
 30051,
 42273,
 42802,
 222315,
 3112,
 30119,
 30309,
 30044,
 221289,
 221906]

# Diabetes Chartevents

In [8]:
print(datetime.datetime.now())
df = pd.read_csv('CHARTEVENTS.csv',chunksize=10**6)
chartevents_df =  pd.DataFrame()
go = True
while go:
    try:
        events_df = df.get_chunk()
        events_df = events_df[events_df['ITEMID'].isin([1455, 1310, 807, 3744, 3745, 2338, 226537])]
        events_df = events_df[events_df['VALUENUM']>=200]
        events_temp = events_df.drop_duplicates(subset=['SUBJECT_ID'])
        chartevents_df=chartevents_df.append(events_temp)
        chartevents_df = chartevents_df.drop_duplicates(subset=['SUBJECT_ID'])
        print(chartevents_df.shape)
    except Exception as e:
        print (type(e))
        go = False
print(chartevents_df.shape)
print(datetime.datetime.now())

2019-10-02 00:25:53.210223
(53, 15)
(78, 15)
(132, 15)
(247, 15)
(358, 15)
(399, 15)
(468, 15)
(529, 15)
(587, 15)
(641, 15)
(698, 15)
(750, 15)
(807, 15)
(827, 15)
(880, 15)
(909, 15)
(964, 15)
(1016, 15)
(1077, 15)
(1124, 15)
(1192, 15)
(1246, 15)
(1316, 15)
(1361, 15)
(1408, 15)
(1467, 15)
(1507, 15)
(1556, 15)
(1609, 15)
(1644, 15)
(1696, 15)
(1754, 15)
(1810, 15)
(1865, 15)
(1912, 15)
(1956, 15)
(1986, 15)
(2015, 15)
(2047, 15)
(2082, 15)
(2117, 15)
(2160, 15)
(2204, 15)
(2244, 15)
(2294, 15)
(2322, 15)
(2363, 15)
(2410, 15)
(2455, 15)
(2498, 15)
(2526, 15)
(2569, 15)
(2615, 15)
(2657, 15)
(2685, 15)
(2728, 15)
(2784, 15)
(2823, 15)
(2851, 15)
(2899, 15)
(2934, 15)
(2962, 15)
(2999, 15)
(3037, 15)
(3061, 15)
(3114, 15)
(3151, 15)
(3188, 15)
(3239, 15)
(3276, 15)
(3305, 15)
(3339, 15)
(3373, 15)
(3396, 15)
(3428, 15)
(3465, 15)
(3506, 15)
(3538, 15)
(3562, 15)
(3600, 15)
(3642, 15)
(3683, 15)
(3719, 15)
(3757, 15)
(3799, 15)
(3844, 15)
(3872, 15)
(3913, 15)
(3954, 15)
(3998, 15)
(4023, 15)
(4076, 15)
(4124, 15)
(4169, 15)
(4206, 15)
(4240, 15)
(4274, 15)
(4328, 15)
(4360, 15)
(4396, 15)
(4435, 15)
(4471, 15)
(4523, 15)
(4564, 15)
(4611, 15)
(4653, 15)
(4684, 15)
(4720, 15)
(4752, 15)
(4802, 15)
(4838, 15)
(4875, 15)
(4917, 15)
(4961, 15)
(4997, 15)
(5029, 15)
(5061, 15)
(5103, 15)
(5140, 15)
(5190, 15)
(5228, 15)
(5270, 15)
(5306, 15)
(5336, 15)
(5378, 15)
(5432, 15)
(5467, 15)
(5510, 15)
(5557, 15)
(5598, 15)
(5627, 15)
(5666, 15)
(5704, 15)
(5759, 15)
(5814, 15)
(5837, 15)
(5870, 15)
(5914, 15)
(5965, 15)
(6009, 15)
(6035, 15)
(6079, 15)
(6111, 15)
(6150, 15)
(6195, 15)
(6231, 15)
(6269, 15)
(6310, 15)
(6371, 15)
(6411, 15)
(6448, 15)
(6497, 15)
(6542, 15)
(6581, 15)
(6625, 15)
(6662, 15)
(6702, 15)
(6744, 15)
(6782, 15)
(6824, 15)
(6864, 15)
(6902, 15)
(6938, 15)
(6975, 15)
(7019, 15)
(7050, 15)
(7090, 15)
(7120, 15)
(7147, 15)
(7199, 15)
(7244, 15)
(7282, 15)
(7327, 15)
(7384, 15)
(7423, 15)
(7463, 15)
(7511, 15)
(7560, 15)
(7603, 15)
(7650, 15)
(7699, 15)
(7739, 15)
(7778, 15)
(7831, 15)
(7872, 15)
(7920, 15)
(7963, 15)
(7993, 15)
(8028, 15)
(8076, 15)
(8113, 15)
(8145, 15)
(8194, 15)

c:\users\daniel chang\appdata\local\programs\python\python37\lib\site-packages\IPython\core\async_helpers.py:67: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  coro.send(None)

(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)

c:\users\daniel chang\appdata\local\programs\python\python37\lib\site-packages\IPython\core\async_helpers.py:67: DtypeWarning: Columns (8,10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  coro.send(None)

(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)

c:\users\daniel chang\appdata\local\programs\python\python37\lib\site-packages\IPython\core\async_helpers.py:67: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  coro.send(None)

(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
(8197, 15)
<class 'StopIteration'>
(8197, 15)
2019-10-02 00:32:13.385520

In [9]:
chartevents_df = chartevents_df.sort_values(by=['SUBJECT_ID'])
chartevents_df = chartevents_df.drop(['ROW_ID'], axis = 1)
chartevents_df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
34061542,3,145834,211552.0,807,2101-10-21 06:00:00,2101-10-21 05:46:00,21570.0,306,306.0,NaN,NaN,NaN,Manual,NotStopd
34028522,4,185777,294638.0,807,2191-03-16 08:00:00,2191-03-16 07:49:00,17144.0,266,266.0,NaN,NaN,NaN,Manual,NotStopd
34297591,6,107064,228232.0,807,2175-05-30 21:00:00,2175-05-30 21:54:00,15443.0,254,254.0,NaN,NaN,NaN,Manual,NotStopd
34086330,9,150750,220597.0,807,2149-11-13 12:00:00,2149-11-13 19:10:00,20855.0,212,212.0,NaN,NaN,NaN,Manual,NotStopd
34062720,13,143045,263738.0,807,2167-01-08 23:30:00,2167-01-08 23:21:00,21205.0,205,205.0,NaN,NaN,NaN,Manual,NotStopd
34049478,18,188822,298129.0,807,2167-10-03 11:00:00,2167-10-03 11:01:00,19667.0,243,243.0,NaN,NaN,NaN,Manual,NotStopd
34035552,21,111970,216859.0,807,2135-02-04 06:00:00,2135-02-04 06:05:00,15907.0,200,200.0,NaN,NaN,NaN,Manual,NotStopd
34033889,25,129635,203487.0,807,2160-11-02 04:45:00,2160-11-02 05:23:00,18654.0,353,353.0,NaN,NaN,NaN,Manual,NotStopd
34406341,43,146828,225852.0,807,2186-10-04 07:00:00,2186-10-04 07:29:00,17435.0,210,210.0,NaN,NaN,NaN,Manual,NotStopd
34510579,56,181711,275642.0,807,2104-01-03 16:00:00,2104-01-03 16:19:00,21347.0,201,201.0,NaN,NaN,NaN,Manual,NotStopd
34486585,62,116009,216609.0,807,2113-02-15 22:00:00,2113-02-15 22:55:00,15023.0,221,221.0,NaN,NaN,NaN,Manual,NotStopd
34483962,68,108329,272667.0,807,2174-01-08 14:00:00,2174-01-08 14:05:00,14375.0,212,212.0,NaN,NaN,NaN,Manual,NotStopd
34792310,106,145167,252051.0,807,2192-08-13 11:00:00,2192-08-13 11:14:00,19667.0,208,208.0,NaN,NaN,NaN,Manual,NotStopd
34844026,108,123552,277421.0,807,2109-10-28 21:00:00,2109-10-28 21:58:00,17594.0,204,204.0,NaN,NaN,NaN,Manual,NotStopd
34850109,109,170149,266497.0,807,2141-05-24 23:00:00,2141-05-24 23:08:00,18632.0,305,305.0,NaN,NaN,NaN,Manual,NotStopd
34794866,111,192123,254245.0,807,2142-04-25 04:30:00,2142-04-25 04:49:00,18654.0,249,249.0,NaN,NaN,NaN,Manual,NotStopd
35362983,115,114585,232514.0,807,2194-10-18 00:30:00,2194-10-18 00:32:00,16012.0,212,212.0,NaN,NaN,NaN,Manual,NotStopd
34789346,117,164853,217966.0,807,2133-11-26 20:00:00,2133-11-26 19:58:00,21418.0,221,221.0,NaN,NaN,NaN,Manual,NotStopd
34713892,130,198214,211157.0,807,2119-10-31 00:00:00,2119-10-31 00:18:00,18545.0,291,291.0,NaN,NaN,NaN,Manual,NotStopd
34662623,137,151583,272335.0,807,2191-11-21 11:00:00,2191-11-21 11:23:00,14625.0,259,259.0,NaN,NaN,NaN,Manual,NotStopd
34868862,141,168006,234668.0,807,2140-11-09 11:00:00,2140-11-09 10:55:00,15225.0,210,210.0,NaN,NaN,NaN,Manual,NotStopd
34887305,143,143808,293406.0,807,2155-01-19 00:00:00,2155-01-19 00:11:00,16866.0,216,216.0,NaN,NaN,NaN,Manual,NotStopd
34982547,146,190707,260172.0,807,2119-12-25 12:00:00,2119-12-25 11:53:00,19667.0,235,235.0,NaN,NaN,NaN,Manual,NotStopd
34968857,148,199488,227964.0,807,2107-09-12 14:00:00,2107-09-12 14:21:00,16021.0,272,272.0,NaN,NaN,NaN,Manual,NotStopd
34698928,156,199280,259092.0,807,2121-01-17 08:00:00,2121-01-17 09:27:00,17950.0,210,210.0,NaN,NaN,NaN,Manual,NotStopd
34715738,157,107880,264885.0,807,2106-06-19 11:00:00,2106-06-19 11:05:00,20814.0,271,271.0,NaN,NaN,NaN,Manual,NotStopd
34889316,163,138528,229098.0,807,2146-06-20 11:00:00,2146-06-20 11:06:00,14209.0,277,277.0,NaN,NaN,NaN,Manual,NotStopd
34913431,164,182743,218740.0,807,2117-01-13 06:00:00,2117-01-13 06:28:00,21167.0,252,252.0,NaN,NaN,NaN,Manual,NotStopd
35594090,177,143120,231756.0,807,2125-11-19 18:00:00,2125-11-19 18:16:00,18539.0,243,243.0,NaN,NaN,NaN,Manual,NotStopd
35331934,184,137526,285726.0,807,2168-05-04 15:15:00,2168-05-04 15:26:00,14996.0,220,220.0,NaN,NaN,NaN,Manual,NotStopd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33936039,98476,161182,201485.0,226537,2115-01-19 04:00:00,2115-01-19 04:05:00,20889.0,284,284.0,mg/dL,1.0,0.0,NaN,NaN
34023068,98484,124412,227984.0,226537,2131-11-20 08:42:00,2131-11-20 08:44:00,20889.0,205,205.0,mg/dL,1.0,0.0,NaN,NaN
33988515,98511,114126,239516.0,226537,2149-06-11 23:00:00,2149-06-11 23:11:00,16861.0,215,215.0,NaN,0.0,0.0,NaN,NaN
33934888,98573,175201,290931.0,226537,2196-01-03 22:24:00,2196-01-03 22:29:00,20889.0,204,204.0,mg/dL,1.0,0.0,NaN,NaN
33601282,98582,149408,231840.0,226537,2120-09-07 10:17:00,2120-09-07 10:19:00,20889.0,268,268.0,mg/dL,1.0,0.0,NaN,NaN
33668481,98593,176136,218387.0,226537,2193-02-25 22:11:00,2193-02-25 22:13:00,20889.0,251,251.0,mg/dL,1.0,0.0,NaN,NaN
33666828,98829,109917,216993.0,226537,2153-05-05 15:29:00,2153-05-05 15:35:00,17058.0,256,256.0,NaN,0.0,0.0,NaN,NaN
33861632,98853,145621,279537.0,226537,2187-02-26 00:57:00,2187-02-26 01:02:00,20889.0,488,488.0,mg/dL,1.0,0.0,NaN,NaN
33563865,98994,178949,256008.0,226537,2137-08-04 04:20:00,2137-08-04 04:22:00,20889.0,217,217.0,mg/dL,1.0,0.0,NaN,NaN
33978757,99065,143271,255605.0,226537,2172-03-07 11:27:00,2172-03-07 11:33:00,20889.0,429,429.0,mg/dL,1.0,0.0,NaN,NaN
33985203,99085,178854,232553.0,226537,2130-12-14 20:22:00,2130-12-14 20:24:00,20889.0,235,235.0,mg/dL,1.0,0.0,NaN,NaN
34550215,99166,184860,227031.0,226537,2154-01-31 22:00:00,2154-01-31 22:17:00,20609.0,213,213.0,NaN,0.0,0.0,NaN,NaN
34633517,99207,191004,268644.0,226537,2143-07-06 20:20:00,2143-07-06 20:24:00,20889.0,207,207.0,mg/dL,1.0,0.0,NaN,NaN
34556929,99213,149621,260550.0,226537,2132-08-09 22:28:00,2132-08-09 22:31:00,20889.0,248,248.0,mg/dL,1.0,0.0,NaN,NaN
34641412,99216,113331,275773.0,226537,2137-04-18 12:21:00,2137-04-18 12:25:00,20889.0,226,226.0,mg/dL,1.0,0.0,NaN,NaN
33498764,99312,134467,247497.0,226537,2157-04-24 11:00:00,2157-04-24 11:03:00,20889.0,244,244.0,mg/dL,1.0,0.0,NaN,NaN
33276315,99383,175736,262458.0,226537,2131-06-07 21:57:00,2131-06-07 21:59:00,20889.0,262,262.0,mg/dL,1.0,0.0,NaN,NaN
34351380,99538,128902,284326.0,226537,2180-03-12 22:50:00,2180-03-12 22:58:00,20889.0,205,205.0,mg/dL,1.0,0.0,NaN,NaN
34350954,99562,101705,223539.0,226537,2183-03-07 13:25:00,2183-03-07 13:26:00,20889.0,228,228.0,mg/dL,1.0,0.0,NaN,NaN
34388633,99629,107034,299480.0,226537,2197-12-08 11:02:00,2197-12-08 11:05:00,20889.0,209,209.0,mg/dL,1.0,0.0,NaN,NaN
34390632,99650,158023,216378.0,226537,2155-01-03 03:54:00,2155-01-03 03:57:00,20889.0,252,252.0,mg/dL,1.0,0.0,NaN,NaN
34243465,99659,175506,212866.0,226537,2146-01-21 10:29:00,2146-01-21 10:32:00,20889.0,209,209.0,mg/dL,1.0,0.0,NaN,NaN
34305195,99669,162441,229293.0,226537,2171-05-08 16:46:00,2171-05-08 16:52:00,20889.0,227,227.0,mg/dL,1.0,0.0,NaN,NaN
34243178,99708,183397,279308.0,226537,2133-06-27 03:44:00,2133-06-27 03:47:00,20889.0,201,201.0,mg/dL,1.0,0.0,NaN,NaN
34251922,99726,186684,299571.0,226537,2200-11-24 13:08:00,2200-11-24 15:01:00,15014.0,308,308.0,mg/dL,1.0,0.0,NaN,NaN
34158997,99863,100749,216757.0,226537,2142-04-02 23:40:00,2142-04-02 23:42:00,20889.0,283,283.0,mg/dL,1.0,0.0,NaN,NaN
34330846,99873,143544,206270.0,226537,2103-12-20 10:49:00,2103-12-20 10:52:00,20889.0,208,208.0,mg/dL,1.0,0.0,NaN,NaN
34275747,99897,162913,266801.0,226537,2181-08-06 11:29:00,2181-08-06 11:31:00,20889.0,311,311.0,mg/dL,1.0,0.0,NaN,NaN
34283650,99938,103815,296707.0,226537,2200-10-28 15:00:00,2200-10-28 16:14:00,19382.0,208,208.0,NaN,0.0,0.0,NaN,NaN
34255305,99955,108494,243255.0,226537,2139-07-17 14:32:00,2139-07-17 14:36:00,20889.0,294,294.0,mg/dL,1.0,0.0,NaN,NaN

In [14]:
chartevents_df['SUBJECT_ID'].nunique()

8197

# Read Whole Dataset

In [6]:
print(datetime.datetime.now())
df = pd.read_csv('CHARTEVENTS.csv',chunksize=10**6)
chartevents_data_df =  pd.DataFrame()
# diabetes_subjectID = chartevents_df['SUBJECT_ID'].unique().tolist()
diabetes_subjectID = [109, 188, 209, 249, 3, 6]
go = True
while go:
    try:
        events_df = df.get_chunk()
        events_df = pd.merge(events_df, D_ITEMS_df, how='inner', on=['ITEMID'])
        events_df = events_df[['SUBJECT_ID','ICUSTAY_ID','CHARTTIME','ITEMID','VALUENUM','LABEL']]
        events_temp = events_df.dropna(subset=['VALUENUM'])
#         events_temp = events_df[events_df['SUBJECT_ID'].isin(diabetes_subjectID)]
        chartevents_data_df=chartevents_data_df.append(events_temp)
        print(chartevents_data_df.shape)
    except Exception as e:
        print (type(e))
        go = False
print(chartevents_data_df.shape)
print(datetime.datetime.now())

2019-10-20 04:40:51.454365
(1000000, 6)
(2000000, 6)
(3000000, 6)
(4000000, 6)
(5000000, 6)
(6000000, 6)
(7000000, 6)
(8000000, 6)
(9000000, 6)
(10000000, 6)
(11000000, 6)
(12000000, 6)
(13000000, 6)
(14000000, 6)
(15000000, 6)
(16000000, 6)
(17000000, 6)
(18000000, 6)
(19000000, 6)
(20000000, 6)
(21000000, 6)
(22000000, 6)
(23000000, 6)
(24000000, 6)
(25000000, 6)
(26000000, 6)
(27000000, 6)
(28000000, 6)
(29000000, 6)
(30000000, 6)
(31000000, 6)
(32000000, 6)
(33000000, 6)
(34000000, 6)
(34599656, 6)
(34995097, 6)
(35414238, 6)
(35835707, 6)
(36237315, 6)
(36640179, 6)
(37048797, 6)
(37430869, 6)
(37837860, 6)
(38242095, 6)
(38643002, 6)
(39069824, 6)
(39478500, 6)
(39895723, 6)
(40292753, 6)
(40707096, 6)
(41113806, 6)
(41511090, 6)
(41917143, 6)
(42311072, 6)
(42718368, 6)
(43121820, 6)
(43526135, 6)
(43929651, 6)
(44351402, 6)
(44782302, 6)
(45185379, 6)
(45614412, 6)
(46032279, 6)
(46435392, 6)
(46838317, 6)
(47243702, 6)
(47639284, 6)
(48028907, 6)
(48423720, 6)
(48827184, 6)
(49251503, 6)
(49655780, 6)
(50057515, 6)
(50491237, 6)
(50892413, 6)
(51312840, 6)
(51707493, 6)
(52104821, 6)
(52499604, 6)
(52897831, 6)
(53290618, 6)
(53687275, 6)
(54081270, 6)
(54492979, 6)
(54896708, 6)
(55296778, 6)
(55699599, 6)
(56103411, 6)
(56517914, 6)
(56932190, 6)
(57358751, 6)
(57772003, 6)
(58170540, 6)
(58582955, 6)
(58990918, 6)
(59426523, 6)
(59829028, 6)
(60236326, 6)
(60662509, 6)
(61057198, 6)
(61465803, 6)
(61874395, 6)
(62275607, 6)
(62674542, 6)
(63064172, 6)
(63472908, 6)
(63873672, 6)
(64285891, 6)
(64713246, 6)
(65119122, 6)
(65536621, 6)
(65974672, 6)
(66385709, 6)
(66797375, 6)
(67193054, 6)
(67595073, 6)
(68016454, 6)
(68430507, 6)
(68827439, 6)
(69232344, 6)
(69638587, 6)
(70046183, 6)
(70419557, 6)
(70820244, 6)
(71244964, 6)
(71649013, 6)
(72071602, 6)
(72468939, 6)
(72883151, 6)
(73286111, 6)
(73707064, 6)
(74116613, 6)
(74512373, 6)
(74901398, 6)
(75298328, 6)
(75702570, 6)
(76113313, 6)
(76511063, 6)
(76917830, 6)
(77337386, 6)
(77740835, 6)
(78150016, 6)
(78557557, 6)
(78979722, 6)
(79384274, 6)
(79791541, 6)
(80197915, 6)
(80596546, 6)
(80989390, 6)
(81384567, 6)
(81796209, 6)
(82202735, 6)
(82604466, 6)
(83015835, 6)
(83419547, 6)
(83808397, 6)
(84219776, 6)
(84633118, 6)
(85036438, 6)
(85438665, 6)
(85845796, 6)
(86253193, 6)
(86666143, 6)
(87100145, 6)
(87509359, 6)
(87917660, 6)
(88316498, 6)
(88731096, 6)
(89140654, 6)
(89522102, 6)
(89897716, 6)
(90265729, 6)
(90649151, 6)
(91036424, 6)
(91422278, 6)
(91802132, 6)
(92181108, 6)
(92551731, 6)
(92933515, 6)
(93313086, 6)
(93698208, 6)
(94082523, 6)
(94476339, 6)
(94860265, 6)
(95261957, 6)
(95639030, 6)
(96018957, 6)
(96395467, 6)
(96772458, 6)
(97155654, 6)
(97518133, 6)
(97911826, 6)
(98298869, 6)

C:\Users\Daniel Chang\Anaconda3\lib\site-packages\IPython\core\async_helpers.py:68: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  coro.send(None)

(98784673, 6)
(99295684, 6)
(99810936, 6)
(100309790, 6)
(100818147, 6)
(101334230, 6)
(101846441, 6)
(102351302, 6)
(102846824, 6)
(103357783, 6)
(103871134, 6)
(104383553, 6)
(104909110, 6)
(105420464, 6)
(105934774, 6)
(106449048, 6)
(106960830, 6)
(107464529, 6)
(107979832, 6)
(108493967, 6)
(109010833, 6)
(109513810, 6)
(110016293, 6)
(110512517, 6)
(111018502, 6)
(111520882, 6)
(112012364, 6)
(112561441, 6)
(113135907, 6)
(113714803, 6)
(114288512, 6)
(114858145, 6)
(115434274, 6)
(116016220, 6)
(116592762, 6)
(117170428, 6)
(117743887, 6)
(118329018, 6)
(118914483, 6)
(119484865, 6)
(120051403, 6)
(120629327, 6)
(121217119, 6)
(121805508, 6)
(122400479, 6)
(122983193, 6)
(123555382, 6)
(124140546, 6)
(124711655, 6)
(125290216, 6)
(125871148, 6)
(126445393, 6)
(127021270, 6)
(127588180, 6)
(128156120, 6)
(128725516, 6)
(129298868, 6)
(129886043, 6)
(130514973, 6)
(131151405, 6)
(131791199, 6)
(132431293, 6)

C:\Users\Daniel Chang\Anaconda3\lib\site-packages\IPython\core\async_helpers.py:68: DtypeWarning: Columns (8,10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  coro.send(None)

(133203186, 6)
(134203186, 6)
(135203186, 6)
(136203186, 6)
(137203185, 6)
(138203185, 6)

C:\Users\Daniel Chang\Anaconda3\lib\site-packages\IPython\core\async_helpers.py:68: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  coro.send(None)

(138562041, 6)
(138687870, 6)
(138810787, 6)
(138931511, 6)
(139054412, 6)
(139184973, 6)
(139318411, 6)
(139451921, 6)
(139583226, 6)
(139704718, 6)
(139816632, 6)
(139930210, 6)
(140047816, 6)
(140160925, 6)
(140273459, 6)
(140386726, 6)
(140502178, 6)
(140616709, 6)
(140732798, 6)
(140843235, 6)
(140959902, 6)
(141080944, 6)
(141195099, 6)
(141307118, 6)
(141419207, 6)
(141527967, 6)
(141638197, 6)
(141750282, 6)
(141864508, 6)
(141976308, 6)
(142089028, 6)
(142204515, 6)
(142320527, 6)
(142436916, 6)
(142552443, 6)
(142664009, 6)
(142783692, 6)
(142897535, 6)
(143007668, 6)
(143120609, 6)
(143235462, 6)
(143348876, 6)
(143459076, 6)
(143576255, 6)
(143689432, 6)
(143806606, 6)
(143921348, 6)
(144033190, 6)
(144144777, 6)
(144255317, 6)
(144374820, 6)
(144490294, 6)
(144603833, 6)
(144719660, 6)
(144833565, 6)
(144948193, 6)
(145065215, 6)
(145180912, 6)
(145293420, 6)
(145411629, 6)
(145522980, 6)
(145637205, 6)
(145751663, 6)
(145863379, 6)
(145973804, 6)
(146088517, 6)
(146199043, 6)
(146312663, 6)
(146423692, 6)
(146504168, 6)
<class 'StopIteration'>
(146504168, 6)
2019-10-20 06:34:52.129151

# Read Medication

In [44]:
print(datetime.datetime.now())
df = pd.read_csv('CHARTEVENTS.csv',chunksize=10**6)
medication_df =  pd.DataFrame()
go = True
while go:
    try:
        events_df = df.get_chunk()
        events_df = pd.merge(events_df, D_ITEMS_df, how='inner', on=['ITEMID'])
        events_df = events_df[['SUBJECT_ID','ICUSTAY_ID','CHARTTIME','ITEMID','VALUENUM','LABEL']]
        events_temp = events_df.dropna(subset=['VALUENUM'])
        events_temp = events_temp[events_temp['ITEMID'].isin(icu_medication)]
        medication_df=medication_df.append(events_temp)
        print(medication_df.shape)
    except Exception as e:
        print (type(e))
        go = False
print(medication_df.shape)
print(datetime.datetime.now())

2019-10-25 01:33:53.003154
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(0, 6)
(3, 6)
(3, 6)
(3, 6)
(3, 6)
(4, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(8, 6)
(19, 6)
(19, 6)
(19, 6)
(19, 6)
(19, 6)
(19, 6)
(19, 6)
(19, 6)
(19, 6)
(19, 6)
(19, 6)
(19, 6)
(28, 6)
(28, 6)
(76, 6)
(76, 6)
(106, 6)
(106, 6)
(106, 6)
(107, 6)
(107, 6)
(107, 6)
(107, 6)
(107, 6)
(107, 6)
(107, 6)
(107, 6)
(107, 6)
(107, 6)
(107, 6)
(107, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(108, 6)
(136, 6)
(136, 6)
(136, 6)
(136, 6)
(136, 6)
(136, 6)
(136, 6)
(136, 6)
(136, 6)
(136, 6)
(136, 6)
(136, 6)
(136, 6)
(138, 6)
(143, 6)
(143, 6)
(144, 6)
(144, 6)
(144, 6)
(144, 6)
(144, 6)
(144, 6)
(144, 6)
(144, 6)
(144, 6)
(144, 6)
(144, 6)
(144, 6)
(144, 6)
(144, 6)
(144, 6)
(144, 6)
(167, 6)
(186, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)

C:\Users\Daniel Chang\Anaconda3\lib\site-packages\IPython\core\async_helpers.py:68: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  coro.send(None)

(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)

C:\Users\Daniel Chang\Anaconda3\lib\site-packages\IPython\core\async_helpers.py:68: DtypeWarning: Columns (8,10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  coro.send(None)

(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)

C:\Users\Daniel Chang\Anaconda3\lib\site-packages\IPython\core\async_helpers.py:68: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  coro.send(None)

(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
(208, 6)
<class 'StopIteration'>
(208, 6)
2019-10-25 01:46:19.767228

In [45]:
medication_df

,SUBJECT_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUENUM,LABEL
946069,3294,272416.0,2194-12-09 05:00:00,1136,3.0000,vasopressin
946070,3294,272416.0,2194-12-09 06:00:00,1136,3.0000,vasopressin
946071,3294,272416.0,2194-12-09 04:00:00,1136,3.0000,vasopressin
999988,4521,284189.0,2103-11-07 09:00:00,6255,0.0400,vasopressin 0.04 s
918782,4521,284189.0,2103-11-07 08:00:00,6255,0.0400,vasopressin 0.04 s
918783,4521,284189.0,2103-11-07 06:00:00,6255,0.0400,vasopressin 0.04 s
918784,4521,284189.0,2103-11-07 07:00:00,6255,0.0400,vasopressin 0.04 s
918785,4521,284189.0,2103-11-07 10:00:00,6255,0.0400,vasopressin 0.04 s
998740,8406,239553.0,2149-05-08 19:00:00,2248,0.0025,vasopressin unit/min
998741,8406,239553.0,2149-05-08 21:00:00,2248,0.0025,vasopressin unit/min
998742,8406,239553.0,2149-05-08 17:00:00,2248,0.0025,vasopressin unit/min
998743,8406,239553.0,2149-05-08 15:00:00,2248,0.0025,vasopressin unit/min
998744,8406,239553.0,2149-05-08 13:00:00,2248,0.0025,vasopressin unit/min
998745,8406,239553.0,2149-05-09 07:00:00,2248,0.0025,vasopressin unit/min
998746,8406,239553.0,2149-05-09 03:00:00,2248,0.0025,vasopressin unit/min
998747,8406,239553.0,2149-05-08 11:00:00,2248,0.0025,vasopressin unit/min
998748,8406,239553.0,2149-05-08 23:00:00,2248,0.0025,vasopressin unit/min
998749,8406,239553.0,2149-05-09 01:00:00,2248,0.0025,vasopressin unit/min
998750,8406,239553.0,2149-05-09 09:30:00,2248,0.0000,vasopressin unit/min
995666,10638,222948.0,2200-05-23 08:00:00,1222,0.0400,vasopressin
995667,10638,222948.0,2200-05-23 12:00:00,1222,0.0400,vasopressin
995668,10638,222948.0,2200-05-23 11:00:00,1222,0.0400,vasopressin
995669,10638,222948.0,2200-05-23 11:45:00,1222,0.0400,vasopressin
995670,10638,222948.0,2200-05-23 09:00:00,1222,0.0400,vasopressin
995671,10638,222948.0,2200-05-23 10:00:00,1222,0.0400,vasopressin
996159,10568,295348.0,2119-04-13 05:00:00,1136,0.0400,vasopressin
996160,10568,295348.0,2119-04-13 04:00:00,1136,0.0400,vasopressin
996161,10568,295348.0,2119-04-13 02:00:00,1136,0.0400,vasopressin
999155,11155,227753.0,2146-12-28 10:00:00,1327,0.0800,vasopressin unit/min
999156,11155,227753.0,2146-12-28 11:00:00,1327,0.0800,vasopressin unit/min
...,...,...,...,...,...,...
918142,26637,291329.0,2179-08-23 10:00:00,1327,0.0500,vasopressin unit/min
918144,26637,291329.0,2179-08-22 11:00:00,1327,0.0400,vasopressin unit/min
919874,26637,291329.0,2179-08-21 23:00:00,1222,7.0000,vasopressin
919875,26637,291329.0,2179-08-22 00:00:00,1222,7.0000,vasopressin
919876,26637,291329.0,2179-08-22 04:00:00,1222,7.0000,vasopressin
919877,26637,291329.0,2179-08-22 05:00:00,1222,7.0000,vasopressin
919878,26637,291329.0,2179-08-22 06:00:00,1222,7.0000,vasopressin
919879,26637,291329.0,2179-08-22 03:00:00,1222,7.0000,vasopressin
989057,27007,267906.0,2123-12-01 21:00:00,2445,2.4000,vasopressin
989058,27007,267906.0,2123-12-01 10:50:00,2445,0.4000,vasopressin
989059,27007,267906.0,2123-12-01 17:00:00,2445,2.4000,vasopressin
989060,27007,267906.0,2123-12-02 03:00:00,2445,2.4000,vasopressin
989061,27007,267906.0,2123-12-01 23:00:00,2445,2.4000,vasopressin
989062,27007,267906.0,2123-12-01 16:00:00,2445,2.4000,vasopressin
989063,27007,267906.0,2123-12-01 22:00:00,2445,2.4000,vasopressin
989064,27007,267906.0,2123-12-01 15:00:00,2445,2.4000,vasopressin
989065,27007,267906.0,2123-12-01 20:00:00,2445,2.4000,vasopressin
989067,27007,267906.0,2123-12-02 02:00:00,2445,2.4000,vasopressin
989068,27007,267906.0,2123-12-01 10:00:00,2445,2.4000,vasopressin
989069,27007,267906.0,2123-12-02 04:00:00,2445,2.4000,vasopressin
989070,27007,267906.0,2123-12-01 18:00:00,2445,2.4000,vasopressin
989071,27007,267906.0,2123-12-01 11:00:00,2445,2.4000,vasopressin
989072,27007,267906.0,2123-12-01 11:15:00,2445,2.4000,vasopressin
989073,27007,267906.0,2123-12-01 11:30:00,2445,2.4000,vasopressin
989074,27007,267906.0,2123-12-01 11:45:00,2445,2.4000,vasopressin
989075,27007,267906.0,2123-12-01 14:00:00,2445,2.4000,vasopressin
989076,27007,267906.0,2123-12-02 01:00:00,2445,2.4000,vasopressin
989077,27007,267906.0,2123-12-01 12:00:00,2445,2.4000,vasopressin
989078,27007,267906.0,2123-12-01 13:00:00,2445,2.4000,vasopressin
989079,27007,267906.0,2123-12-02 00:00:00,2445,2.4000,vasopressin

In [52]:
medication_df['LABEL'].value_counts()

vasopressin unit/min    88
vasopressin             77
epinephrine mcg/min     30
vasopressin  u/hr        7
vasopressin 0.04   s     5
vasopressin u/hr         1
Name: LABEL, dtype: int64

# Numbers of unique Labels

In [11]:
print (chartevents_data_df['SUBJECT_ID'].nunique())
print (chartevents_data_df['SUBJECT_ID'].unique())

6
[109 188 209 249   3   6]

# Check subject 6 dataframe

In [12]:
chartevents_6_df = chartevents_data_df[chartevents_data_df['SUBJECT_ID']==6]
chartevents_6_df.head()

,SUBJECT_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUENUM,LABEL
301523,6,228232.0,2175-06-03 00:58:00,861,4.9,"wbc (4-11,000)"
301535,6,228232.0,2175-05-31 01:48:00,861,10.6,"wbc (4-11,000)"
301543,6,228232.0,2175-06-02 15:18:00,861,2.9,"wbc (4-11,000)"
301544,6,228232.0,2175-06-02 02:06:00,861,8.5,"wbc (4-11,000)"
301555,6,228232.0,2175-06-01 03:00:00,861,10.2,"wbc (4-11,000)"

# Found useful labels

In [13]:
#spo2 = 646
chartevents_6_df[chartevents_6_df['LABEL'].str.contains('spo2')]
#heart rate = 211
chartevents_6_df[chartevents_6_df['LABEL'].str.contains('heart rate')]
#cvp = 113
chartevents_6_df[chartevents_6_df['LABEL'].str.match('cvp')]
#arterial bp mean = 52
chartevents_6_df[chartevents_6_df['LABEL'].str.match('arterial bp mean')]
# respiratory rate = 618
chartevents_6_df[chartevents_6_df['LABEL'].str.match('respiratory rate')]
#nbp mean = 456
chartevents_6_df[chartevents_6_df['ITEMID']==456]
#temp f = 678
chartevents_6_df[chartevents_6_df['LABEL'].str.match('temperature f')]

,SUBJECT_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUENUM,LABEL
530477,6,228232.0,2175-06-03 03:00:00,678,96.699997,temperature f
530495,6,228232.0,2175-05-31 02:00:00,678,97.099998,temperature f
530496,6,228232.0,2175-06-01 07:00:00,678,98.599998,temperature f
530519,6,228232.0,2175-06-03 11:00:00,678,96.500000,temperature f
530540,6,228232.0,2175-05-31 07:00:00,678,96.900002,temperature f
530548,6,228232.0,2175-06-02 03:00:00,678,99.099998,temperature f
530588,6,228232.0,2175-05-31 12:00:00,678,97.099998,temperature f
530589,6,228232.0,2175-05-31 12:30:00,678,96.800003,temperature f
530590,6,228232.0,2175-05-31 13:00:00,678,97.500000,temperature f
530642,6,228232.0,2175-06-02 15:00:00,678,98.099998,temperature f
530646,6,228232.0,2175-06-01 11:00:00,678,98.000000,temperature f
530658,6,228232.0,2175-05-31 19:00:00,678,99.199997,temperature f
530669,6,228232.0,2175-06-02 23:00:00,678,96.500000,temperature f
530686,6,228232.0,2175-05-30 23:00:00,678,97.800003,temperature f
530695,6,228232.0,2175-05-31 11:00:00,678,97.599998,temperature f
530716,6,228232.0,2175-06-01 19:00:00,678,99.400002,temperature f
530717,6,228232.0,2175-06-03 07:00:00,678,97.300003,temperature f
530718,6,228232.0,2175-06-03 07:05:00,678,96.099998,temperature f
530729,6,228232.0,2175-06-02 11:00:00,678,98.300003,temperature f
530741,6,228232.0,2175-05-31 15:00:00,678,98.199997,temperature f
530742,6,228232.0,2175-05-31 15:30:00,678,98.400002,temperature f
530743,6,228232.0,2175-06-01 23:00:00,678,97.699997,temperature f
530759,6,228232.0,2175-06-02 19:00:00,678,96.900002,temperature f
530796,6,228232.0,2175-05-31 21:00:00,678,98.400002,temperature f
530811,6,228232.0,2175-06-01 15:00:00,678,98.800003,temperature f
530820,6,228232.0,2175-06-01 03:00:00,678,98.699997,temperature f
530891,6,228232.0,2175-05-30 20:30:00,678,96.800003,temperature f
530892,6,228232.0,2175-05-31 23:00:00,678,98.400002,temperature f
530894,6,228232.0,2175-06-02 07:00:00,678,99.300003,temperature f

In [14]:
#heart rate = 211
chartevents_3_df[chartevents_3_df['LABEL'].str.contains('heart rate')]

NameError: name 'chartevents_3_df' is not defined

In [35]:
#spo2 = 646
print(chartevents_3_df[chartevents_3_df['ITEMID']==646].shape)
      
#heart rate = 211
print(chartevents_3_df[chartevents_3_df['ITEMID']==211].shape)
      
#cvp = 113
print(chartevents_3_df[chartevents_3_df['ITEMID']==113].shape)
      
#arterial bp mean = 52
print(chartevents_3_df[chartevents_3_df['ITEMID']==52].shape)
      
#respiratory rate = 618
print(chartevents_3_df[chartevents_3_df['ITEMID']==618].shape)
      
#nbp mean = 456
print(chartevents_3_df[chartevents_3_df['ITEMID']==456].shape)
#temp f
print(chartevents_3_df[chartevents_3_df['ITEMID']==678].shape)

print(chartevents_3_df[chartevents_3_df['ITEMID']==678].shape)
print(chartevents_3_df[chartevents_3_df['ITEMID']==677].shape)
print(chartevents_3_df[chartevents_3_df['ITEMID']==674].shape)

(165, 6)
(170, 6)
(93, 6)
(112, 6)
(166, 6)
(64, 6)
(16, 6)
(16, 6)
(16, 6)
(17, 6)

# Functions that output attributes

In [46]:
def getFeatures(df,itemId, label):
    temp = df[df['ITEMID']==itemId]
    temp = temp.drop(['ITEMID','LABEL'], axis=1)
    temp = temp.rename(index=str, columns={"VALUENUM": label})
    return temp

In [47]:
def getItems(df):
    items_df = pd.DataFrame(columns=['ITEMID', 'LABEL'])
    for x in [646,52,618,8368,51,497,678]:
        temp = D_ITEMS_df[D_ITEMS_df['ITEMID']==x]
        temp = temp.drop(temp.columns.difference(['ITEMID','LABEL']),axis=1)
        items_df = pd.concat([items_df,temp], ignore_index=True)
    return items_df

In [48]:
print(datetime.datetime.now())
print(datetime.datetime.now()+ datetime.timedelta(hours=1))
print(datetime.datetime.now()- datetime.timedelta(hours=1))

2019-10-25 01:52:38.264961
2019-10-25 02:52:38.264961
2019-10-25 00:52:38.264961

In [49]:
def get_diabetes(df):
    diabetes_df = getFeatures(df,211,'heart rate')
    diabetes_items = getItems(df)
    diabetes_items = diabetes_items[diabetes_items['ITEMID'].isin([646,52,618,113,8368,51])]
    for index, col in diabetes_items.iterrows():
        temp = getFeatures(df,col['ITEMID'],col['LABEL'])
        diabetes_df = pd.merge(diabetes_df, temp, how='left', on=['SUBJECT_ID', 'ICUSTAY_ID','CHARTTIME'])
    return diabetes_df

In [50]:
def get_DataFrame(df):
    diabetes_df = getFeatures(df,211,'heart rate')
    diabetes_items = getItems(df)
    diabetes_items = diabetes_items[diabetes_items['ITEMID'].isin([646,52,618,113,8368,51])]
    for index, col in diabetes_items.iterrows():
        temp = getFeatures(df,col['ITEMID'],col['LABEL'])
        diabetes_df = pd.merge(diabetes_df, temp, how='outer', on=['SUBJECT_ID', 'ICUSTAY_ID','CHARTTIME'])
    return diabetes_df

In [12]:
def df_nan(df):
    print(df.shape)
    print(df.isna().sum())

# Filter out non-0 time from whole chartevents

In [14]:
print(datetime.datetime.now())
print(chartevents_data_df['SUBJECT_ID'].shape)
chartevents_all_df = chartevents_data_df[pd.to_datetime(chartevents_data_df['CHARTTIME']).dt.minute==0]
print(chartevents_all_df['SUBJECT_ID'].shape)
print(datetime.datetime.now())

2019-10-20 06:40:39.951021
(146504168,)
(102958880,)
2019-10-20 06:43:10.219318

In [21]:
chartevents_all_df

,SUBJECT_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUENUM,LABEL
0,36,241249.0,2134-05-12 12:00:00,223834,15.0,o2 flow
1,23,234044.0,2157-10-21 20:00:00,223834,3.0,o2 flow
2,23,234044.0,2157-10-21 22:00:00,223834,2.0,o2 flow
3,23,234044.0,2157-10-22 00:00:00,223834,2.0,o2 flow
5,36,241249.0,2134-05-12 10:00:00,223834,15.0,o2 flow
6,34,290505.0,2191-02-23 12:00:00,223834,3.0,o2 flow
7,34,290505.0,2191-02-24 00:00:00,223834,2.0,o2 flow
9,36,241249.0,2134-05-15 21:00:00,223834,15.0,o2 flow
10,36,241249.0,2134-05-16 00:00:00,223834,15.0,o2 flow
11,36,241249.0,2134-05-16 08:00:00,223834,4.0,o2 flow
12,36,241249.0,2134-05-16 10:00:00,223834,2.0,o2 flow
14,85,291697.0,2167-07-25 22:00:00,223834,3.0,o2 flow
15,85,291697.0,2167-07-26 03:00:00,223834,2.0,o2 flow
16,85,291697.0,2167-07-26 08:00:00,223834,2.0,o2 flow
17,85,291697.0,2167-07-26 16:00:00,223834,2.0,o2 flow
18,107,252542.0,2121-12-01 13:00:00,223834,2.0,o2 flow
19,107,264253.0,2122-05-15 00:00:00,223834,2.0,o2 flow
20,107,264253.0,2122-05-15 04:00:00,223834,2.0,o2 flow
21,85,291697.0,2167-07-27 10:00:00,223834,2.0,o2 flow
22,85,291697.0,2167-07-27 14:00:00,223834,2.0,o2 flow
24,107,252542.0,2121-12-01 01:00:00,223834,2.0,o2 flow
25,107,252542.0,2121-12-01 08:00:00,223834,2.0,o2 flow
26,107,264253.0,2122-05-15 12:00:00,223834,2.0,o2 flow
27,107,264253.0,2122-05-15 16:00:00,223834,2.0,o2 flow
28,107,264253.0,2122-05-16 00:00:00,223834,2.0,o2 flow
29,109,262652.0,2141-09-21 08:00:00,223834,2.0,o2 flow
30,109,262652.0,2141-09-21 13:00:00,223834,2.0,o2 flow
31,109,262652.0,2141-09-20 23:00:00,223834,2.0,o2 flow
32,109,262652.0,2141-09-21 00:00:00,223834,2.0,o2 flow
33,109,262652.0,2141-09-21 04:00:00,223834,2.0,o2 flow
...,...,...,...,...,...,...
707274,99544,238492.0,2157-07-26 12:00:00,227619,0.0,pressure ulcer stage #10
707276,99544,238492.0,2157-07-17 20:00:00,227619,2.0,pressure ulcer stage #10
707279,99544,238492.0,2157-07-20 20:00:00,227619,2.0,pressure ulcer stage #10
707280,99544,238492.0,2157-07-18 20:00:00,227619,2.0,pressure ulcer stage #10
707281,99544,238492.0,2157-07-19 20:00:00,227619,2.0,pressure ulcer stage #10
707283,99544,238492.0,2157-07-14 00:00:00,227619,2.0,pressure ulcer stage #10
707284,99544,238492.0,2157-07-13 08:00:00,227619,2.0,pressure ulcer stage #10
707288,99544,238492.0,2157-07-25 11:00:00,227619,0.0,pressure ulcer stage #10
707296,99544,238492.0,2157-07-26 08:00:00,227619,0.0,pressure ulcer stage #10
707297,99544,238492.0,2157-07-20 04:00:00,227619,2.0,pressure ulcer stage #10
707299,99544,238492.0,2157-07-19 00:00:00,227619,2.0,pressure ulcer stage #10
707300,99544,238492.0,2157-07-20 00:00:00,227619,2.0,pressure ulcer stage #10
707303,99544,238492.0,2157-07-22 04:00:00,227619,2.0,pressure ulcer stage #10
707309,99544,238492.0,2157-07-13 14:00:00,227619,2.0,pressure ulcer stage #10
707310,99544,238492.0,2157-07-15 00:00:00,227619,2.0,pressure ulcer stage #10
707312,99544,238492.0,2157-07-21 00:00:00,227619,2.0,pressure ulcer stage #10
707313,99544,238492.0,2157-07-14 04:00:00,227619,2.0,pressure ulcer stage #10
707319,99544,238492.0,2157-07-26 16:00:00,227619,0.0,pressure ulcer stage #10
711000,99544,238492.0,2157-07-14 00:00:00,224969,0.0,pressure ulcer stage #6
711009,99544,238492.0,2157-07-25 16:00:00,224969,0.0,pressure ulcer stage #6
711011,99544,238492.0,2157-07-17 20:00:00,224969,0.0,pressure ulcer stage #6
711012,99544,238492.0,2157-07-26 08:00:00,224969,0.0,pressure ulcer stage #6
711015,99544,238492.0,2157-07-22 04:00:00,224969,0.0,pressure ulcer stage #6
711019,99544,238492.0,2157-07-24 08:00:00,224969,0.0,pressure ulcer stage #6
711021,99544,238492.0,2157-07-25 08:00:00,224969,0.0,pressure ulcer stage #6
711024,99544,238492.0,2157-07-26 12:00:00,224969,0.0,pressure ulcer stage #6
711026,99544,238492.0,2157-07-26 16:00:00,224969,0.0,pressure ulcer stage #6
711031,99544,238492.0,2157-07-14 04:00:00,224969,0.0,pressure ulcer stage #6
711033,99544,238492.0,2157-07-25 12:00:00,224969,0.0,pressure ulcer stage #6
711040,99544,238492.0,2157-07-15 00:00:00,224969,0.0,pressure ulcer stage #6

# Data Processing

In [56]:
def align_dataframe(x,charteventsf):
    df = charteventsf[charteventsf['SUBJECT_ID']==x].sort_values(by=['CHARTTIME'])
    df = get_DataFrame(df)
    df = df.dropna()
    df = df[pd.to_datetime(df['CHARTTIME']).dt.minute==0]
    df['TARGET_hr'] = df['heart rate'].shift(periods=-1)
    df['TARGET_spo2'] = df['spo2'].shift(periods=-1)
    df['TARGET_map'] = df['arterial bp mean'].shift(periods=-1)
    df['TARGET_dbp'] = df['arterial bp [diastolic]'].shift(periods=-1)
    df['TARGET_sbp'] = df['arterial bp [systolic]'].shift(periods=-1)
    df['TARGET_resp'] = df['respiratory rate'].shift(periods=-1)
    df['TIME'] = df['CHARTTIME'].shift(periods=-1)
    df = df[pd.to_datetime(df['CHARTTIME']).dt.hour==
            (pd.to_datetime(df['TIME']).dt.hour-1)]
    return df

In [25]:
print(datetime.datetime.now())

# items to be removed 
test_subject = {109, 188, 209, 249, 3, 6} 
diabetes_subjectID = [ele for ele in diabetes_subjectID if ele not in test_subject]

icu_1hour_df = pd.DataFrame()

for x in chartevents_all_df['SUBJECT_ID'].unique().tolist():
    temp = align_dataframe(x,chartevents_all_df)
    icu_1hour_df = icu_1hour_df.append(temp, sort = False)

print(datetime.datetime.now())

2019-10-20 06:52:57.473270
2019-10-20 11:35:35.996832

In [26]:
icu_1hour_df.to_csv('Vital Sign Full Data 2.csv',index=0)

In [27]:
icu_1hour_df

,SUBJECT_ID,ICUSTAY_ID,CHARTTIME,heart rate,spo2,arterial bp mean,respiratory rate,arterial bp [diastolic],arterial bp [systolic],TARGET_hr,TARGET_spo2,TARGET_map,TARGET_dbp,TARGET_sbp,TARGET_resp,TIME
0,36,280987.0,2131-05-04 14:00:00,90.0,100.0,85.0,11.0,76.0,97.0,90.0,100.0,77.0,67.0,102.0,18.0,2131-05-04 15:00:00
1,36,280987.0,2131-05-04 15:00:00,90.0,100.0,77.0,18.0,67.0,102.0,90.0,100.0,83.0,71.0,112.0,18.0,2131-05-04 16:00:00
2,36,280987.0,2131-05-04 16:00:00,90.0,100.0,83.0,18.0,71.0,112.0,80.0,100.0,112.0,94.0,145.0,13.0,2131-05-04 17:00:00
3,36,280987.0,2131-05-04 17:00:00,80.0,100.0,112.0,13.0,94.0,145.0,71.0,100.0,87.0,70.0,122.0,17.0,2131-05-04 18:00:00
4,36,280987.0,2131-05-04 18:00:00,71.0,100.0,87.0,17.0,70.0,122.0,77.0,100.0,80.0,65.0,117.0,17.0,2131-05-04 19:00:00
5,36,280987.0,2131-05-04 19:00:00,77.0,100.0,80.0,17.0,65.0,117.0,84.0,99.0,83.0,67.0,115.0,19.0,2131-05-04 20:00:00
6,36,280987.0,2131-05-04 20:00:00,84.0,99.0,83.0,19.0,67.0,115.0,85.0,97.0,76.0,62.0,111.0,19.0,2131-05-04 21:00:00
7,36,280987.0,2131-05-04 21:00:00,85.0,97.0,76.0,19.0,62.0,111.0,88.0,98.0,71.0,57.0,102.0,19.0,2131-05-04 22:00:00
8,36,280987.0,2131-05-04 22:00:00,88.0,98.0,71.0,19.0,57.0,102.0,85.0,97.0,66.0,62.0,69.0,12.0,2131-05-04 23:00:00
29,36,211200.0,2131-05-17 07:00:00,85.0,100.0,73.0,19.0,60.0,99.0,70.0,96.0,86.0,71.0,114.0,20.0,2131-05-17 08:00:00
30,36,211200.0,2131-05-17 08:00:00,70.0,96.0,86.0,20.0,71.0,114.0,91.0,100.0,98.0,82.0,128.0,20.0,2131-05-17 09:00:00
31,36,211200.0,2131-05-17 09:00:00,91.0,100.0,98.0,20.0,82.0,128.0,86.0,100.0,77.0,65.0,101.0,18.0,2131-05-17 10:00:00
32,36,211200.0,2131-05-17 10:00:00,86.0,100.0,77.0,18.0,65.0,101.0,90.0,96.0,91.0,76.0,121.0,20.0,2131-05-17 11:00:00
33,36,211200.0,2131-05-17 11:00:00,90.0,96.0,91.0,20.0,76.0,121.0,101.0,96.0,87.0,72.0,118.0,32.0,2131-05-17 12:00:00
34,36,211200.0,2131-05-17 12:00:00,101.0,96.0,87.0,32.0,72.0,118.0,112.0,97.0,79.0,66.0,108.0,25.0,2131-05-17 13:00:00
35,36,211200.0,2131-05-17 13:00:00,112.0,97.0,79.0,25.0,66.0,108.0,111.0,97.0,81.0,67.0,111.0,29.0,2131-05-17 14:00:00
36,36,211200.0,2131-05-17 14:00:00,111.0,97.0,81.0,29.0,67.0,111.0,112.0,95.0,83.0,69.0,113.0,22.0,2131-05-17 15:00:00
37,36,211200.0,2131-05-17 15:00:00,112.0,95.0,83.0,22.0,69.0,113.0,115.0,100.0,78.0,65.0,108.0,20.0,2131-05-17 16:00:00
38,36,211200.0,2131-05-17 16:00:00,115.0,100.0,78.0,20.0,65.0,108.0,111.0,100.0,80.0,66.0,109.0,20.0,2131-05-17 17:00:00
39,36,211200.0,2131-05-17 17:00:00,111.0,100.0,80.0,20.0,66.0,109.0,112.0,100.0,75.0,63.0,102.0,20.0,2131-05-17 18:00:00
40,36,211200.0,2131-05-17 18:00:00,112.0,100.0,75.0,20.0,63.0,102.0,108.0,100.0,81.0,66.0,112.0,20.0,2131-05-17 19:00:00
41,36,211200.0,2131-05-17 19:00:00,108.0,100.0,81.0,20.0,66.0,112.0,113.0,100.0,77.0,65.0,105.0,20.0,2131-05-17 20:00:00
42,36,211200.0,2131-05-17 20:00:00,113.0,100.0,77.0,20.0,65.0,105.0,113.0,100.0,75.0,63.0,102.0,20.0,2131-05-17 21:00:00
43,36,211200.0,2131-05-17 21:00:00,113.0,100.0,75.0,20.0,63.0,102.0,112.0,100.0,76.0,64.0,104.0,20.0,2131-05-17 22:00:00
44,36,211200.0,2131-05-17 22:00:00,112.0,100.0,76.0,20.0,64.0,104.0,110.0,100.0,74.0,62.0,101.0,19.0,2131-05-17 23:00:00
46,36,211200.0,2131-05-18 00:00:00,108.0,100.0,75.0,20.0,63.0,103.0,108.0,100.0,79.0,66.0,107.0,20.0,2131-05-18 01:00:00
47,36,211200.0,2131-05-18 01:00:00,108.0,100.0,79.0,20.0,66.0,107.0,111.0,96.0,78.0,65.0,106.0,20.0,2131-05-18 02:00:00
48,36,211200.0,2131-05-18 02:00:00,111.0,96.0,78.0,20.0,65.0,106.0,110.0,96.0,81.0,67.0,113.0,20.0,2131-05-18 03:00:00
49,36,211200.0,2131-05-18 03:00:00,110.0,96.0,81.0,20.0,67.0,113.0,110.0,97.0,80.0,67.0,110.0,20.0,2131-05-18 04:00:00
50,36,211200.0,2131-05-18 04:00:00,110.0,97.0,80.0,20.0,67.0,110.0,109.0,97.0,83.0,71.0,106.0,20.0,2131-05-18 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,32781,222393.0,2134-09-22 12:00:00,80.0,99.0,70.0,21.0,38.0,128.0,81.0,99.0,70.0,45.0,101.0,20.0,2134-09-22 13:00:00
173,32781,222393.0,2134-09-22 13:00:00,81.0,99.0,70.0,20.0,45.0,101.0,77.0,97.0,70.0,45.0,103.0,23.0,2134-09-22 14:00:00
174,32781,222393.0,2134-09-22 14:00:00,77.0,97.0,70.0,23.0,45.0,103.0,80.0,97.0,72.0,40.0,129.0,24.0,2134-09-22 15:00:00
175,32781,222393.0,2134-09-22 15:00:00,80.0,97.0,72.0,24.0,40.0,129.0,80.0,97.0,76.0,42.0,134.0,23.0,2134-09-22 16:00:00
176,32781,222393.0,2134-09-22 16:00:00,80.0,97.0,76.0,23.0,42.0,134.0,74.0,97.0,74.0,38.0,134.0,24.0,2134-09-22 17:00:00
177,32781,222393.0,2134-09-22 17:00:00,74.0,97.0,74.0,24.0,38.0,134.0,77.0,98.0,76.0,40.0,135.0,21.0,2134-09-22 18:00:00
178,32781,222393.0,2134-09-22 18:00:00,77.0,98.0,76.0,21.0,40.0,135.0,71.0,97.0,65.0,33.0,128.0,22.0,2134-09-22 19:00:00
179,32781,222393.0,2134-09-22 19:00:00,71.0,97.0,65.0,22.0,33.0,128.0,79.0,99.0,90.0,52.0,151.0,22.0,2134-09-22 20:00:00
180,32781,222393.0,2134-09-22 20:00:00,79.0,99.0,90.0,22.0,52.0,151.0,79.0,98.0,84.0,48.0,144.0,22.0,2134-09-22 21:00:00
181,32781,222393.0,2134-09-22 21:00:00,79.0,98.0,84.0,22.0,48.0,144.0,82.0,97.0,100.0,60.0,164.0,23.0,2134-09-22 22:00:00
182,32781,222393.0,2134-09-22 22:00:00,82.0,97.0,100.0,23.0,60.0,164.0,82.0,98.0,84.0,50.0,146.0,20.0,2134-09-22 23:00:00
184,32781,222393.0,2134-09-23 00:00:00,81.0,96.0,91.0,25.0,56.0,149.0,82.0,96.0,90.0,56.0,148.0,24.0,2134-09-23 01:00:00
185,32781,222393.0,2134-09-23 01:00:00,82.0,96.0,90.0,24.0,56.0,148.0,85.0,97.0,93.0,56.0,155.0,24.0,2134-09-23 02:00:00
186,32781,222393.0,2134-09-23 02:00:00,85.0,97.0,93.0,24.0,56.0,155.0,86.0,96.0,92.0,55.0,153.0,24.0,2134-09-23 03:00:00
187,32781,222393.0,2134-09-23 03:00:00,86.0,96.0,92.0,24.0,55.0,153.0,86.0,97.0,91.0,54.0,154.0,24.0,2134-09-23 04:00:00
188,32781,222393.0,2134-09-23 04:00:00,86.0,97.0,91.0,24.0,54.0,154.0,84.0,96.0,81.0,48.0,138.0,21.0,2134-09-23 05:00:00
189,32781,222393.0,2134-09-23 05:00:00,84.0,96.0,81.0,21.0,48.0,138.0,82.0,96.0,77.0,44.0,136.0,23.0,2134-09-23 06:00:00
190,32781,222393.0,2134-09-23 06:00:00,82.0,96.0,77.0,23.0,44.0,136.0,86.0,98.0,86.0,51.0,145.0,20.0,2134-09-23 07:00:00
191,32781,222393.0,2134-09-23 07:00:00,86.0,98.0,86.0,20.0,51.0,145.0,82.0,99.0,82.0,47.0,143.0,22.0,2134-09-23 08:00:00
192,32781,222393.0,2134-09-23 08:00:00,82.0,99.0,82.0,22.0,47.0,143.0,80.0,97.0,76.0,43.0,137.0,24.0,2134-09-23 09:00:00
0,32777,202322.0,2113-10-12 13:00:00,88.0,100.0,67.0,12.0,49.0,99.0,79.0,100.0,78.0,58.0,118.0,12.0,2113-10-12 14:00:00
7,32777,202322.0,2113-10-12 20:00:00,86.0,97.0,62.0,15.0,46.0,108.0,94.0,99.0,72.0,48.0,127.0,22.0,2113-10-12 21:00:00
8,32777,202322.0,2113-10-12 21:00:00,94.0,99.0,72.0,22.0,48.0,127.0,86.0,97.0,61.0,43.0,100.0,20.0,2113-10-12 22:00:00
9,32777,202322.0,2113-10-12 22:00:00,86.0,97.0,61.0,20.0,43.0,100.0,91.0,98.0,72.0,48.0,124.0,16.0,2113-10-12 23:00:00
11,32777,202322.0,2113-10-13 00:00:00,91.0,97.0,63.0,19.0,44.0,100.0,87.0,98.0,69.0,47.0,124.0,16.0,2113-10-13 01:00:00
12,32777,202322.0,2113-10-13 01:00:00,87.0,98.0,69.0,16.0,47.0,124.0,84.0,99.0,65.0,42.0,128.0,23.0,2113-10-13 02:00:00
13,32777,202322.0,2113-10-13 02:00:00,84.0,99.0,65.0,23.0,42.0,128.0,82.0,97.0,67.0,44.0,116.0,16.0,2113-10-13 03:00:00
14,32777,202322.0,2113-10-13 03:00:00,82.0,97.0,67.0,16.0,44.0,116.0,79.0,98.0,68.0,45.0,120.0,12.0,2113-10-13 04:00:00
15,32777,202322.0,2113-10-13 04:00:00,79.0,98.0,68.0,12.0,45.0,120.0,74.0,98.0,71.0,47.0,123.0,19.0,2113-10-13 05:00:00
16,32777,202322.0,2113-10-13 05:00:00,74.0,98.0,71.0,19.0,47.0,123.0,69.0,98.0,70.0,46.0,131.0,18.0,2113-10-13 06:00:00

# Medication Col

In [57]:
medication_df.head()

,SUBJECT_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUENUM,LABEL
946069,3294,272416.0,2194-12-09 05:00:00,1136,3.00,vasopressin
946070,3294,272416.0,2194-12-09 06:00:00,1136,3.00,vasopressin
946071,3294,272416.0,2194-12-09 04:00:00,1136,3.00,vasopressin
999988,4521,284189.0,2103-11-07 09:00:00,6255,0.04,vasopressin 0.04 s
918782,4521,284189.0,2103-11-07 08:00:00,6255,0.04,vasopressin 0.04 s

In [60]:
getFeatures(medication_df,1136, '12')

        SUBJECT_ID  ICUSTAY_ID            CHARTTIME    12
946069        3294    272416.0  2194-12-09 05:00:00  3.00
946070        3294    272416.0  2194-12-09 06:00:00  3.00
946071        3294    272416.0  2194-12-09 04:00:00  3.00
996159       10568    295348.0  2119-04-13 05:00:00  0.04
996160       10568    295348.0  2119-04-13 04:00:00  0.04
996161       10568    295348.0  2119-04-13 02:00:00  0.04
997067       20086    272317.0  2199-02-11 14:00:00  0.04
997068       20086    272317.0  2199-02-11 15:00:00  0.04
997069       20086    272317.0  2199-02-11 00:00:00  0.04
997070       20086    272317.0  2199-02-10 19:00:00  0.04
997071       20086    272317.0  2199-02-11 06:00:00  0.04
997072       20086    272317.0  2199-02-11 12:00:00  0.04
997073       20086    272317.0  2199-02-10 21:00:00  0.04
997074       20086    272317.0  2199-02-10 22:00:00  0.04
997075       20086    272317.0  2199-02-10 23:00:00  0.04
997076       20086    272317.0  2199-02-11 13:00:00  0.04
997077       20086    272317.0  2199-02-10 16:00:00  0.04
997078       20086    272317.0  2199-02-10 17:00:00  0.04
997079       20086    272317.0  2199-02-11 04:00:00  0.04
997080       20086    272317.0  2199-02-10 18:00:00  0.04
997081       20086    272317.0  2199-02-11 05:00:00  0.04
997082       20086    272317.0  2199-02-10 20:00:00  0.04
997083       20086    272317.0  2199-02-11 11:00:00  0.04
997084       20086    272317.0  2199-02-11 03:00:00  0.04
997085       20086    272317.0  2199-02-11 17:00:00  0.02
997086       20086    272317.0  2199-02-11 18:00:00  0.00
997087       20086    272317.0  2199-02-11 08:00:00  0.04
997088       20086    272317.0  2199-02-11 09:00:00  0.04
997089       20086    272317.0  2199-02-11 10:00:00  0.04
997090       20086    272317.0  2199-02-10 14:00:00  0.04
997091       20086    272317.0  2199-02-10 15:00:00  0.04
997092       20086    272317.0  2199-02-11 16:00:00  0.04
997093       20086    272317.0  2199-02-11 01:00:00  0.04
997094       20086    272317.0  2199-02-11 02:00:00  0.04

In [ ]:
def getFeatures(df,itemId, label):
    temp = df[df['ITEMID']==itemId]
    temp = temp.drop(['ITEMID','LABEL'], axis=1)
    temp = temp.rename(index=str, columns={"VALUENUM": label})
    return temp

In [ ]:
def get_DataFrame(df):
    diabetes_df = getFeatures(df,211,'heart rate')
    diabetes_items = getItems(df)
    diabetes_items = diabetes_items[diabetes_items['ITEMID'].isin([646,52,618,113,8368,51])]
    for index, col in diabetes_items.iterrows():
        temp = getFeatures(df,col['ITEMID'],col['LABEL'])
        diabetes_df = pd.merge(diabetes_df, temp, how='outer', on=['SUBJECT_ID', 'ICUSTAY_ID','CHARTTIME'])
    return diabetes_df

In [ ]:
def getItems(df):
    items_df = pd.DataFrame(columns=['ITEMID', 'LABEL'])
    for x in [646,52,618,8368,51,497,678]:
        temp = D_ITEMS_df[D_ITEMS_df['ITEMID']==x]
        temp = temp.drop(temp.columns.difference(['ITEMID','LABEL']),axis=1)
        items_df = pd.concat([items_df,temp], ignore_index=True)
    return items_df

In [ ]:
print(datetime.datetime.now())

# items to be removed 
test_subject = {109, 188, 209, 249, 3, 6} 
diabetes_subjectID = [ele for ele in diabetes_subjectID if ele not in test_subject]

icu_1hour_df = pd.DataFrame()

for x in chartevents_all_df['SUBJECT_ID'].unique().tolist():
    temp = align_dataframe(x,chartevents_all_df)
    icu_1hour_df = icu_1hour_df.append(temp, sort = False)

print(datetime.datetime.now())